<% @post.comments.each do |comment| %>
  <h4><%= comment.title %></h4>

  <p><%= comment.body %></p>
  <% if comment.user_id  == current_user.id || current_user.admin %>
    <%= link_to "Delete", post_comment_path(@post, comment), data: {confirm: "Are you sure?", method: "delete"} %>
  <% end %>
<% end %>
