<h1><%= @tag.category %></h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <ul class="list-inline">
      <li>Tagged Posts:</li>
    </ul>
  </div>
  <ul class="list-group">
    <% @tag.posts.order(created_at: :desc).each do |post| %>
      <li class="list-group-item"><%= post.title %></li>
    <% end %>
  </ul>
</div>
